:root{
    --dark-blue-color: #134C5F;
    --light-green-color: #C8E7E1;
    --dark-green-color: #386A60;
    --light-yellow-color: #FEE46D;
    --dark-yellow-color: #FDD532;

}

@media screen and (min-width: 450px) {
    .hero-content{
        background-image:  url(../images/background/bg_tablet.png);
    }

    .bulldog-icon{
        right: 150px;
    }

    .shiba-icon{
        right: 200px;
    }
    
}

@media screen and (min-width: 550px) {

    .hero-content{
        padding-left: 10vw;
    }

    .hero-content h1{
        max-width: 300px;
    }
}

@media screen and (min-width: 600px) {
    
    header{
        background-image: url(../images/background/bgDesktop1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
    }

    .hero-content{
        background-image: none;
    }
    
    .shiba-icon{
        right: 100px;
    }

    .bulldog-icon{
        right: 350px;
    }

    .layout > *{
        padding: 5vh 0;
    }

}

@media screen and (min-width: 750px) {

    nav{
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    }


    .logo{
        margin: 0 50px;
    }

    .animal-switch-btn{
        display: block;
        background: var(--dark-blue-color);
        color: #fff;
        margin: 0 50px;
    }

    .hero-content{
        background-image: none;
        padding-bottom: 6rem;
    }

    .advantages-container{
        padding-top: 8rem;
    }

    .advantages-list{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem 0;
    }

    .advantages-list li{
        /* padding: 2rem 3rem; */
    }

    
    .dog-icon{
        width: 70px;
        height: 70px;
    }

    .bulldog-icon{
        right: 470px;
    }

    .shiba-icon{

    }

    .lessi-icon{

    }

    .hotdog-icon{
        display: block;
        bottom: 300px;
        right: 200px;
    }    
    
    .french-icon{
        display: block;
        bottom: 360px;
        right: 60px;
    }
    
}

@media screen and (min-width:950px) {

    .hero-content{
        /* padding: 5rem 10vw 0; */
    }
    
    .hero-content h1{
        font-size: 2.1rem;
    }

    .hero-description{
        display: block;
    }

    .hero-btns-wrapper{
        flex-direction: row;
        width: auto;
    }

    .hero-btn{
        height: 44px;
    }

    .get-started-btn{
        margin-right: 0.8rem;
    }

    .arrows-wrapper{
        position: absolute;
        left: 14px;
        transform: translateY(5px) scaleX(0);

    }

    .arrows-wrapper-expand{
        transform: translateY(5px) scaleX(1);
        
    }

    .bulldog-icon{
        right: 500px;
    }

    .shiba-icon{
        bottom: 270px;
        right: 480px;
    }

    .lessi-icon{
        right: 50px;
        bottom: 300px;
    }

    .hotdog-icon{
        right: 100px;
        bottom: 160px;
    }

    .french-icon{
        right: 260px;
    }

}

@media screen and (min-width: 1150px){

    .hero-content h1{
        font-size: 2.4rem;
        max-width: 340px;
    }

    .bulldog-icon{
        right: 600px;
    }

    .shiba-icon{
        right: 630px;
    }
}

@media screen and (min-width: 1400px) {

    .hero-content{
        padding-left: 12vw;
    }
    
}

@media screen and (min-width: 1650px) {
    
    .hero-content h1{
        font-size: 2.7rem;
        max-width: 510px;
    }
    
}