:root{
    --dark-blue-color: #134C5F;
    --light-green-color: #C8E7E1;
    --dark-green-color: #386A60;
    --light-yellow-color: #FEE46D;
    --dark-yellow-color: #FDD532;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
}

nav{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > *{
    margin: 0 0.2rem;
}

.logo p{
    color: var(--dark-blue-color);
    font-weight: 700;
}

.animal-switch-btn{
    display: none;
}

.hero-content{
    padding: 6rem 5vw 0rem;
    background-image: url(../images/background/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    color: var(--dark-blue-color);
}

.hero-content h1{
    position: relative;
    max-width: 200px;
    font-size: 1.8rem;
    font-weight: 700;
    z-index: 1;
}

.hero-content h1::before{
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../images/background/paw_light_green.svg);
    background-size: cover;
}

.hero-content h1::after{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 40px;
    height: 40px;
    background-image: url(../images/background/paw_light_green.svg);
    background-size: cover;
    transform: rotate(60deg);
    z-index: -1;
}

.hero-description{
    display: none;
    max-width: 330px;
    padding: 1.5rem 0 0;
}

.hero-btns-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 140px;
    padding: 2rem 0 0;
}

.hero-btn{
    width: 140px;
    height: 36px;
    margin: .5rem 0;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.get-started-btn{
    background: var(--dark-blue-color);
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    animation: pulse 1.5s ease infinite 4s;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }    
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

.get-started-btn-fold{
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}


.about-me-btn{
    background: var(--light-green-color);
    margin-bottom: 0;
}

.about-me-btn a{
    text-decoration: none;
    color: var(--dark-green-color);
}

.arrows-wrapper{
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px) scaleX(0);
    transition: 0.3s;
}

.arrows-wrapper-expand{
    transform: translateY(-20px) scaleX(1);
    transition: 0.3s;
}

.arrows-svg{
    width: 24px;
    animation: bump 1.8s ease infinite;
    /* order: 1; */

}

@keyframes bump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.arrows-text{
    padding: 0.5rem;
    font-weight: 600;
}

.dog-icon{
    position: absolute;
    width: 60px;
    height: 60px;
}

.bulldog-icon{
    bottom: -16px;
    right: 100px;
}

.shiba-icon{
    bottom: 110px;
    right: 130px;
}

.lessi-icon{
    bottom: 220px;
    right: 20px;
}

.hotdog-icon{
    display: none;
}

.french-icon{
    display: none;
}

article{
    width: 100%;
    background: white;
}

.advantages-container{
    padding: 6rem 4rem 0;
    color: var(--dark-blue-color);
    text-align: center;
}

.advantages-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.advantages-list li{
    text-align: center;
    padding: 2rem 0;
}

.advantages-list li p{
    padding-top: 1rem;
    font-weight: 600;
}

article h2{
    padding: 4rem 0;
    text-align: center;
    color: var(--dark-blue-color);
    opacity: 0;
    transform: translateY(50%);
}

/*  */
.btn {
    display: none;
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
    /* opacity: 0; */
    width: 170px;
    height: 46px;
    border-radius: 20px;
    border: none;
    border: 2px solid white;
    cursor: pointer;
    background: var(--dark-blue-color);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    animation: fadeInBtn 0.5s ease forwards 0.3s;
}

@keyframes fadeInBtn {
    0%{
        bottom: -50px;
        /* opacity: 0; */
    }
    100%{
        bottom: 50px;
        opacity: 1;
    }
}

.container{
    display: flex;
    /* display: none; */
    justify-content: center;
    width: 100%;
}

.users{
    padding: 0px 60px 100px;
    width: 100%;
    display: grid;
    display: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 20px;
    background-image: url(../images/background/mobile-user-bg-opacity0.3.png);
    opacity: 0;
    transform: translateY(20%);
}

.users .img-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.users img{
    position: relative;
    object-fit: cover;
    cursor: pointer;
}


.users .overlay-img{
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 231, 225, 0);
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--dark-blue-color);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
    /* transition-duration: 2s;
    transition-property: background-color; */
}

.overlay-img .overlay-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



/* .users .overlay-img p{
    height: 100%;
    line-height: 200px;

} */

.users .img-wrapper:hover .overlay-img{
    opacity: 1;
    background-color: rgba(200, 231, 225, 0.9);
    transition: 0.3s ease;
}


.clicked-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease;
}

.close-img{
    position: absolute;
    top: 105%;
    left: 50%;
    color: #fff;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    transform: translateX(-50%);
}

.clicked-img{
    min-width: 200px;
    max-width: 70vw;
    min-height: 200px;
    max-height: 60vh;
}

.clicked-img-active{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s ease;
    /* position: relative; */
}

.layout{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.0);
    pointer-events: none;
    touch-action: none;
    transition: 0.3s ease;
}

.layout > *{
    display: none;
    padding: 10vh 0;
    color: #fff;
    z-index: 2;
    font-weight: 700;
    font-size: 2rem;
}

.layout-active{
    background: rgba(0, 0, 0, 0.85);
    pointer-events: all;
    touch-action: all;
    transition: 0.3s ease;
}

.layout .dog-name{
    text-align: center;
}

.fade-in-active{
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.3s ease;
}